<h2> Celebrities </h2>

  <% listOfCelebrities.forEach( oneCeleb => { %>
    <ul>
      <li>
        <%= oneCeleb.name %>
        <a href="/celebrities/<%= oneCeleb._id %>">
          <p>Details</p>
        </a>
      </li>
    </ul>
  <% }); %>
