<h2>NEW EJS</h2>

<form method="post" action="/celebrities">
<label for="celeb-name-input"> Name:</label>
<input id="celeb-name-input" type="text" name="celebName" placeholder="e.g. Jennifer Aniston">
<br />
<label for="celeb-occupation-input"> Occupation:</label>
<input id="celeb-occupation-input" type="text" name="celebOccupation" placeholder="e.g. Comedian/Actor">
<br />
<label for="celeb-phrase-input"> Phrase:</label>
<input id="celeb-phrase-input" type="text" name="celebPhrase" placeholder="e.g. By Odin's Beard!">
<br />

<button> Submit</button>
</form>
