<h2> CELEBRITY DETAILS </h2>


    <ul>
      <li>
          <h1>Name:</h1>
            <p> <%= celebrityDetails.name %> </p>
            <h1>Occupation:</h1>
            <p> <%= celebrityDetails.occupation %> </p>
            <h1> Catch Phrase: </h1>
            <p> <%= celebrityDetails.catchPhrase %> </p>
      </li>
    </ul>
